In [3]:
import pandas as pd
df=pd.read_excel(r"C:\Users\EE\Downloads\2009 Shelter Stats_final.xlsx",  sheet_name="Outflow")
df.head(2)

,Pacfa ID,Name,Address,City,State,Zip,Dogs RTO,Dogs Adopted,Dogs Euthanized,Dogs DOA,...,Other RTO,Other Adopted,Other Euthanized,Other DOA,Other Died,Other Trans. In state,Other Trans. Out of state,"OtherOther (missing, stolen, etc.)",Other Total Outcomes,Other Ending Inventory
0,2,HUMANE SOCIETY OF BOULDER VALLEY,2323 55TH ST,BOULDER,CO,80301.0,989,3217.0,346.0,0.0,...,18.0,333.0,47.0,0.0,7.0,29.0,2.0,2.0,438.0,24.0
1,5,DENVER MUNICIPAL ANIMAL SHELTER,678 S JASON ST.,DENVER,CO,80223.0,1429,1034.0,831.0,178.0,...,15.0,60.0,344.0,82.0,31.0,200.0,0.0,1.0,739.0,7.0

In [4]:
# Columns that apply to every row (not animal-specific)
fixed_cols = ['Pacfa ID', 'Name', 'Address', 'City', 'State', 'Zip']

In [5]:
#Melt Dataframe
df_melted = df.melt(id_vars=fixed_cols, var_name='Animal Combo', value_name='Quantity')
df_melted

,Pacfa ID,Name,Address,City,State,Zip,Animal Combo,Quantity
0,2,HUMANE SOCIETY OF BOULDER VALLEY,2323 55TH ST,BOULDER,CO,80301.0,Dogs RTO,989
1,5,DENVER MUNICIPAL ANIMAL SHELTER,678 S JASON ST.,DENVER,CO,80223.0,Dogs RTO,1429
2,6,DUMB FRIENDS LEAGUE/HUMANE SOCIETY OF DENVER,2080 S. QUEBEC ST,DENVER,CO,80231.0,Dogs RTO,1298
3,7,HUMANE SOCIETY OF THE PIKES PEAK REGION,610 ABBOTT LANE,COLORADO SPRINGS,CO,80905.0,Dogs RTO,3536
4,8,HUMANE SOCIETY OF FREMONT COUNTY,110 RHOADES AVE.,CANON CITY,CO,81212.0,Dogs RTO,485
...,...,...,...,...,...,...,...,...
16795,NaN,NaN,NaN,NaN,NaN,NaN,Other Ending Inventory,NaN
16796,NaN,NaN,NaN,NaN,NaN,NaN,Other Ending Inventory,NaN
16797,NaN,NaN,NaN,NaN,NaN,NaN,Other Ending Inventory,NaN
16798,NaN,NaN,NaN,NaN,NaN,NaN,Other Ending Inventory,NaN
16799,TOTAL,NaN,NaN,NaN,NaN,NaN,Other Ending Inventory,197.0

In [6]:
#list of animals
animals = ['Dogs', 'Cats', 'Small Mammals', 'Reptiles', 'Pet Birds', 'Other']

In [7]:
#Split column Animal Combo into Animal, Context
def split_animal_combo(combo):
    for animal in animals:
        if combo.startswith(animal):
            return animal, combo.replace(animal, "").strip()
    return None, combo  # fallback if no match

In [8]:
# Apply split
df_melted[["Animal Name", "Context"]] = df_melted["Animal Combo"].apply(
    lambda x: pd.Series(split_animal_combo(x))
)

In [9]:
df_melted.head(5)

,Pacfa ID,Name,Address,City,State,Zip,Animal Combo,Quantity,Animal Name,Context
0,2,HUMANE SOCIETY OF BOULDER VALLEY,2323 55TH ST,BOULDER,CO,80301.0,Dogs RTO,989,Dogs,RTO
1,5,DENVER MUNICIPAL ANIMAL SHELTER,678 S JASON ST.,DENVER,CO,80223.0,Dogs RTO,1429,Dogs,RTO
2,6,DUMB FRIENDS LEAGUE/HUMANE SOCIETY OF DENVER,2080 S. QUEBEC ST,DENVER,CO,80231.0,Dogs RTO,1298,Dogs,RTO
3,7,HUMANE SOCIETY OF THE PIKES PEAK REGION,610 ABBOTT LANE,COLORADO SPRINGS,CO,80905.0,Dogs RTO,3536,Dogs,RTO
4,8,HUMANE SOCIETY OF FREMONT COUNTY,110 RHOADES AVE.,CANON CITY,CO,81212.0,Dogs RTO,485,Dogs,RTO

In [15]:
# Export to Excel
df_melted.to_excel('2009_Outflows_animal_data_cleanse.xlsx', index=False)